nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='/') Hotel Management
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav')
      span.navbar-toggler-icon

    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto

        //- when NOT logged in
        if !loggedIn
          li.nav-item
            a.nav-link(href='/') Home
          //- li.nav-item
          //-   a.nav-link(href='/rooms') Rooms
          //- li.nav-item
          //-   a.nav-link(href='/reservations') Reservations
          li.nav-item
            a.nav-link(href='/services') Services
          li.nav-item
            a.nav-link(href='/contact') Contact Us
          li.nav-item
            a.nav-link(href='/login') Login
          li.nav-item
            a.nav-link(href='/register') Register

        //- when logged in
        else
          li.nav-item
            a.nav-link(href='/rooms') Rooms
          li.nav-item
            a.nav-link(href='/reservations') Reservations
          li.nav-item
            a.nav-link(href='/logout') Logout
